<footer>
    <div class="container-xl">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-sm-12 col-lg-6">
                <h2>Dê vida a suas ideias!</h2>
            </div>
            <div class="col-sm-12 col-lg-6">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                        <a href="/" class=" social__links">
                            <i class='bx bxl-instagram'></i>
                        </a>
                    </li>
                   
                    <li class="list-group-item">
                        <a href="/" class=" social__links">
                            <i class='bx bxl-behance'></i>
                        </a>
                    </li>
                   
                    <li class="list-group-item">
                        <a href="/" class=" social__links">
                            <i class='bx bxl-dribbble'></i>
                        </a>
                    </li>
                   
                    <li class="list-group-item">
                        <a href="/" class=" social__links">
                            <i class='bx bxl-pinterest-alt'></i>
                        </a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg__dark copyright">
        <div class="container-xl">
            <div class="row g-0">
                <div class="col-sm-12 col-lg-6">
                    <span>Desenvolvido por <a href="/">Studio Paper</a></span>
                </div>
                <div class="col-sm-12 col-lg-6 copyright__mark">
                    <span>&copy; Todos os Direitos Reservados</span>
                </div>
            </div>
        </div>
    </div>
</footer>